# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
env/
*.env

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
logs/

# Data / artifacts (keep these OUT of git)
**/etc/state/
**/etc/logs/

# Secrets / local config
**/etc/config.ini
**/*secrets*
